body {
    margin: 0;
    padding: 0;
    color: #FFF;
    background-color: #212427;
}
h1 {
    padding-left: 20px;
}
.container {
    display: flex;
    height: 100%;
}

.left-pane, .right-pane {
    padding: 20px;
    border: 1px solid gray;
}

.left-pane {
    width: 33.33%;
    background-color: #151515;
}

.right-pane {
    width: 66.67%;
    background-color: #212427;
    border-left: 1px solid #3c3f42;
}

h2 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    list-style-position: outside;
    padding: 0;
    margin: 0;
}

/* CSS para a lista de máquinas virtuais */
.vm-item { /* Adiciona um espaçamento entre os itens da lista */
    transition: background-color 0.3s;
    background-color: #151515;
    border: 1px solid #3c3f42;
    margin: 0;
    padding: 10px;
}
.selected {
    background-color: #ccc;
    color: #fff;
}
.vm-item::before {
    color: red;
    float: left;
    font-size: 45px;
    margin-right: 5px;
    vertical-align: middle;
    content: '\2022';
}
/* CSS para os spans dentro dos itens da lista */
.vm-span {
    display: block;
    margin-bottom: 0; 

}
.vm-item:hover {
    color: white;
    background-color: gray;
}
.vm-item .status {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.vm-item-running::before {
    /* Estilos para quando o estado é "running" */
    color: green;
}

.action-buttons {
    width: 80px;
    height: 80px;
}

  .content {
    text-align: center;
  }
  
 
  
  /* Estilize conforme necessário */
  