body {
    margin: 0;
    padding: 0;
    color: #FFF;
    background-color: #212427;
}
h1 {
    padding-left: 20px;
}
.container {
    display: flex;
    height: 100%;
}

.left-pane, .right-pane {
    padding: 20px;
    border: 1px solid gray;
}

.left-pane {
    width: 33.33%;
    background-color: #151515;
    height:100%;
    max-height: 700px; /* Defina a altura máxima desejada */
    overflow-y: auto;  /* Adiciona uma barra de rolagem vertical */
    border: 1px solid #ccc; /* Opcional: adiciona uma borda ao redor da lista */
    padding: 10px; /* Opcional: adiciona um preenchimento interno */
}

.right-pane {
    width: 66.67%;
    background-color: #212427;
    border-left: 1px solid #3c3f42;
    
}

h2 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    list-style-position: outside;
    padding: 0;
    margin: 0;
}

/* CSS para a lista de máquinas virtuais */
.vm-item { /* Adiciona um espaçamento entre os itens da lista */
    transition: background-color 0.3s;
    background-color: #151515;
    border: 1px solid #3c3f42;
    margin: 0;
    padding: 10px;
    list-style-type: none; /* Remove os marcadores da lista */
}
.selected {
    background-color: #ccc;
    color: #fff;
}
.vm-item::before {
    color: red;
    float: left;
    font-size: 45px;
    margin-right: 5px;
    vertical-align: middle;
    content: '\2022';
}
/* CSS para os spans dentro dos itens da lista */
.vm-span {
    display: block;
    margin-bottom: 0; 

}
.vm-item:hover {
    color: white;
    background-color: gray;
}
.vm-item .status {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.vm-item-running::before {
    /* Estilos para quando o estado é "running" */
    color: green;
}

.action-buttons {
    width: 80px;
    height: 80px;
}

  .content {
    text-align: center;
  }
  
  form {
    background-color: #151515; /* Cor de fundo */
    border: 1px solid #ced4da; /* Borda */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 20px; /* Espaçamento interno */
    margin: 20px 0; /* Margem superior e inferior */
    color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilizando os rótulos (labels) */
form label {
    font-weight: bold; /* Negrito */
    margin-bottom: 2px; /* Margem inferior */
    display: block; /* Faz o label ocupar toda a largura */
}

/* Estilizando os campos de entrada (inputs) e selects */
form input[type="text"],
form input[type="email"],
form input[type="password"],
form select {
    width: 250px; /* Largura total */
    padding: 2px; /* Espaçamento interno */
    margin-bottom: 5px; /* Margem inferior */
    border: 1px solid #ced4da; /* Borda */
    border-radius: 4px; /* Bordas arredondadas */
    box-sizing: border-box; /* Inclui padding e borda na largura total */
}

/* Estilizando o botão de envio */
form button {
    background-color: #007bff; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    border: none; /* Sem borda */
    padding: 10px 15px; /* Espaçamento interno */
    border-radius: 4px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de ponteiro */
}

form button:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}
  
  /* Estilize conforme necessário */
  
.div-form {
    background-color: #151515; /* Cor de fundo */
    border: 1px solid #ced4da; /* Borda */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 20px; /* Espaçamento interno */
    margin: 20px 0; /* Margem superior e inferior */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilizando os rótulos (labels) */
.div-form label {
    font-weight: bold; /* Negrito */
    margin-bottom: 5px; /* Margem inferior */
    display: block; /* Faz o label ocupar toda a largura */
}

.storage-controller {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #f9f9f9;
    color: #333; /* Cor do texto para os controladores */
}

.storage-item {
    margin-left: 20px;
    padding: 3px;
    background-color: #e9e9e9;
    border-radius: 3px;
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    color: #333; /* Cor do texto para os itens */
}

.storage-item:hover {
    background-color: #d0d0d0; /* Efeito de hover */
}

#settingsInfo {
    color: #333; /* Cor do texto para o contêiner principal */
}

/* Estilo para o contêiner de controladores */
.storage-container {
    flex: 1; /* Ocupa metade da tela */
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    overflow-y: auto;
}

/* Estilo para o contêiner de detalhes */
.details-container {
    flex: 1; /* Ocupa a outra metade da tela */
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    overflow-y: auto;
}

/* Estilo para o contêiner principal */
.main-container {
    display: flex;
    width: 100%;
    height: 400px; /* Altura fixa para o contêiner */
    overflow: hidden;
}
